@model IEnumerable<SportShop.ViewModels.Category.CategoryViewModel>

@{
    ViewData["Title"] = "ListProduct";
}

<!-- Content Wrapper START -->
<div class="main-content">
    <div class="page-header">
        <h2 class="header-title">Orders List</h2>
        <div class="header-sub-title">
            <nav class="breadcrumb breadcrumb-dash">
                <a href="#" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
                <span class="breadcrumb-item active">Danh mục</span>

            </nav>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row m-b-30">

                <div class="text-right">
                    <a asp-area="Admin" asp-controller="Category" asp-action="Add">
                        <button class="btn btn-primary">
                            <i class="anticon anticon-plus-circle m-r-5"></i>
                            <span>Thêm danh mục</span>
                        </button>
                    </a>

                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-hover e-commerce-table" id="data-table">
                    <thead>
                        <tr>

                            <th>ID</th>

                            <th>Danh mục</th>

                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>

                                <td>@item.Id</td>
                                <td>@item.Name</td>

                                <td>
                                    <a asp-area="Admin" asp-controller="Category" asp-action="Edit" asp-route-id="@item.Id">
                                        <button class="btn btn-icon btn-hover btn-sm btn-rounded pull-right">
                                            <i class="anticon anticon-edit"></i>
                                        </button>

                                    </a>
                                    <a asp-area="Admin" asp-controller="Category" asp-action="Delete" asp-route-id="@item.Id">
                                        <button class="btn btn-icon btn-hover btn-sm btn-rounded">
                                            <i class="anticon anticon-delete"></i>
                                        </button>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Content Wrapper END -->
